body {
    background-color: black;
    background-image: url('./images/moon.jpg');
    background-position: bottom;
    background-size: cover;
    min-height: 100vh; /* 100% de la hauteur du navigateur */
    overflow-y: hidden; /* suppression scrolling vertical */
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

button {
    background-color: whitesmoke;
    border-radius: 4px;
    border-style: none;
    cursor: pointer;
    padding: 1rem;
}

img.rocket {
    /* Ecrire le CSS pour positionner la fusée au centre et en bas de l'écran */
   position: absolute;
   bottom: 0;
   left : 50%;
   
  
}

#command-panel {
    margin: 2rem;
}
#command-panel span {
    color: whitesmoke;
    font-family: 'Courier New', Courier, monospace;
    font-size: 3rem;
    font-weight: bold;
    margin-left: 1rem;
    vertical-align: middle;
}